.stansz-week-number-square-headertitlebox {
  width: 20vh;
  height: 4vh;
  background-color: rgba(225, 225, 225, 1.0);
  color: rgba(0, 57, 128, 1.0);
  font-size: 1.75vh;
  font-weight: bold;
  letter-spacing: 0.1em;
  position: relative
}

.stansz-week-number-square {
  width: 20vh;
  height: 20vh;
  background-color: rgba(0, 57, 128, 1.0);
  color: white;
  font-size: 12vh;
  font-weight: bold;
  letter-spacing: 0.05em;
  position: relative
}