/*
Enzian Blau (= de), Gentian blue (= en),
Hex: #004f7c, RGB: (0, 79, 124), HSL: (202°, 100%, 24%)
*/
$stansz-colors-gentian-blue: #004f7c;

/*
    RGB: 0, 57, 128
    Hex: #003980
*/
$stansz-colors-main-blue: #003980;

$stansz-color-blue: rgba(0, 57, 128, 1.0);